html {
    min-height: 100%;
}

body {
    background-color: rgb(51, 51, 51);
}

#wrapper {
    width: 70%;
    height: 600px;

    min-width: 800px;
    min-height: 600px;
    
    padding: 25px 0;
    margin: 50px auto;

    background-color: gainsboro;

    position: absolute;
    left: 0; right: 0;
}

#app {
    width: 800px;
    height: 600px;

    min-width: 600px;
    min-height: 450px;

    background-color: goldenrod;
    

    margin: 0 auto;
    position: absolute;
    left: 0; right: 0;


}

#start-btn {
    width: 350px;
    margin: 0 auto;

    position: absolute;
    bottom: 130px;
    left: 0; right: 0;
}

#title {
    width: 200px;
    height: 100px;

    line-height: 150px;
}

#question-container {
    width: 500px;
    /* height: 300px; */
    
    position: absolute;
    top: 0;
    left: 0; right: 0;
}

#button-container {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
}

#question {
    line-height: 300px;
}

/* #answer {
    width: 800px;
    height: 600px;

    min-width: 600px;
    min-height: 450px;

    padding: 0;
    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.384);
} */

#answer-img {
    width: 400;
    height: 300;
    
    margin: 0 auto;

    position: absolute;
    bottom: 150px;
    left: 0; right: 0;
}

#reset-btn {
    width: 350px;
    margin: 0 auto;

    position: absolute;
    bottom: 130px;
    left: 0; right: 0;
}

.centered {
    display: block;
    margin: 0 auto;
}

.app-button {
    margin: 20px auto;

    width: 80%;
    height: 50px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 42px;
    text-align: center;
}

h2 {
    margin: 10px;    
    font-size: 36px;
}